<section id="About" class="About">
  <div class="About__photo">
    <%= image_tag "rachel-lacroix.jpg", :class => "Image--full"  %>
  </div>
    <h1>Rachel LaCroix</h1>
    <h4>Content Writer & Manager</h4>
    <ul class="About__social">
      <li><a href="https://twitter.com/rachelehoover" target="_blank" title="Twitter" alt="Twitter"><%= icon 'e49d' %></a></li>
      <li><a href="mailto:hello@rachelhlacroix.com" target="_blank" title="Email" alt="Hello@RachelHLaCroix.com"><%= icon 'e601' %></a></li>
    </ul>

  <div class="About__content Text">
    <p>
     You can’t grow your business effectively without great storytelling and content. I’m passionate about taking copy, design, and video elements and using them to create better web experiences for customers. If you need help crafting content to tell your company’s story, take a look at some of the work I’m most proud of below, and <a href="mailto:hello@rachelhlacroix.com" target="_blank">let’s get the conversation started</a>.
    </p>
  </div>
</section><!-- .About -->
