<section id="About" class="About">
  <div class="About__photo">
    <%= image_tag "rachel-lacroix.jpg", :class => "Image--full"  %>
  </div>
    <h1>Rachel LaCroix</h1>
    <h4>Content Writer & Manager</h4>
    <ul class="About__social">
      <li><a href="https://twitter.com/rachelehoover" target="_blank" title="Twitter" alt="Twitter"><%= icon 'e49d' %></a></li>
      <li><a href="mailto:hello@rachelhlacroix.com" target="_blank" title="Email" alt="Hello@RachelHLaCroix.com"><%= icon 'e601' %></a></li>
    </ul>

  <div class="About__content Text">
    <p>
      Copywriting isn’t often considered a work of art in most circles, but it does indeed paint a picture. Even with all of our modern technology at our fingertips these days, stories still fascinate us. Finding a way to cultivate your story on the web is important for the health of your business, and fortunately, I know how to do just that.
    </p>
    <p>
      I’m passionate about taking copy and bringing it to a level that not only helps create brand awareness, but also elevates web experiences for end users. Wordsmithing is nothing new, but it’s certainly an exciting time to be a content writer today as the medium is changing at breakneck speed.
    </p>
    <p>
      Still, great writing never goes out of style. And, there are not many other things that make me happier than stringing a bunch of well-crafted sentences together. If words are important to you and you need help finding your brand voice, <a href="mailto:hello@rachelhlacroix.com" target="_blank">let’s get the conversation started</a>.
    </p>
  </div>
</section><!-- .About -->
