<section id="Writing" class="Writing Text">
    <h1 class="section-title">Writing Samples</h1>
  <div class="Writing__content">
    <article class="Writing__client">
      <div class="Writing__logo">
        <%= image_tag "logos/everstring.png", :class => "Image--full", :title => "Everstring", :alt => "Everstring" %>
      </div>
      <div class="Writing__description">
        <p>
          EverString is a B2B Sales and Marketing platform that uses predictive solutions to help companies discover their next customers. As a content manager and copywriter at EverString, developing a brand voice with thought leadership was key, but we also wanted to explain the “how” behind many sales and marketing tasks to better relate to the common struggles of teams in an ever-changing B2B environment.
        </p>
        <p>
          With that in mind, the tone of EverString’s blog was informational and really wanted to illustrate what a modern sales and marketing team looks like. Not only did we want to comment on predictive capabilities and how they were flipping the traditional sales and marketing funnel, but we also wanted to give B2B teams practical how-tos on how they could use the product to get more out of their campaigns, programs and sales strategies.
        </p>
      </div>
      <ul class="Writing__links">
        <li>
          <a href="https://www.everstring.com/blog/why-storytelling-is-essential-to-sales/" target="_blank">Why Storytelling is Essential to Sales</a>
        </li>
        <li>
          <a href="https://www.everstring.com/blog/5-ways-ai-changing-marketing-better/" target="_blank">5 Areas Where AI is Changing Marketing for the Better</a>
        </li>
        <li>
          <a href="https://www.everstring.com/blog/top-3-reasons-social-selling-changing-b2b-game/" target="_blank">Top 3 Reasons Why Social Selling is Changing the B2B Game</a>
        </li>
      </ul>
    </article>

    <article class="Writing__client">
      <div class="Writing__logo">
        <%= image_tag "logos/doc-halo.png", :class => "Image--full", :title => "Doc Halo", :alt => "Doc Halo" %>
      </div>
      <div class="Writing__description">
        <p>
          Doc Halo is a messaging app that allows medical professionals to safety text and share patient data with one another in a clinical setting while following HIPAA compliance. In the past, doctors have used pagers and phones for this purpose, so this product is truly the wave of the future for hospitals and medical centers, especially since mobile devices are becoming ubiquitous in the workplace. I’ve always been known as a health writer, but this client was especially rewarding because I got to write about the space where health meets tech - a burgeoning industry with lots of potential.
        </p>
        <p>
          The client wanted to inform patients about what the modern hospital workplace looks like and could be, and wanted to give important updates about health IT advancements. Since many of the end readers were healthcare professionals, I incorporated an informative yet edgy voice in order to increase brand awareness and optimize user experience.
        </p>
      </div>
      <ul class="Writing__links">
        <li>
          <a href="https://www.dochalo.com/blog/4-things-to-include-in-a-hospital-byod-policy" target="_blank">4 things to include in a hospital BYOD policy</a>
        </li>
        <li>
          <a href="https://www.dochalo.com/blog/implementation-and-adoption-best-practices-for-healthcare-technology" target="_blank">Implementation and adoption: Best practices for healthcare technology</a>
        </li>
        <li>
          <a href="https://www.dochalo.com/blog/steps-for-improving-doctor-to-nurse-communication" target="_blank">Steps for improving doctor-to-nurse communication</a>
        </li>
        <li>
          <a href="https://www.dochalo.com/blog/the-importance-of-streamlined-patient-handoff" target="_blank">The importance of streamlined patient handoff</a>
        </li>
      </ul>
    </article>

    <article class="Writing__client">
      <div class="Writing__logo">
        <%= image_tag "logos/lovely.png", :class => "Image--full", :title => "Lovely", :alt => "Lovely" %>
      </div>
      <div class="Writing__description">
        <p>
          Lovely is a part of the RentPath family, and is a platform that connects renters to their potential new home. The client specifically wanted to appeal to a millennial audience, so many of the pieces needed to address and attract end users who were new to the rental market or simply relocating with little knowledge of the rental market.
        </p>
        <p>
          This was a fun blog to write for because the content was very “voicey” and I was given free reign to interject many of my own real-life experiences with the rental market (the good, the bad and the ugly), making it a very worthwhile experience.
        </p>
      </div>
      <ul class="Writing__links">
        <li>
          <a href="http://blog.livelovely.com/2015/04/06/things-to-do-in-portland-oregon/" target="_blank">7 Things to Do in Portland for 20-Somethings</a>
        </li>
        <li>
          <a href="http://blog.livelovely.com/2015/07/09/guide-popular-decorating-styles/" target="_blank">A Guide to 6 Popular Decorating Styles</a>
        </li>
        <li>
          <a href="http://blog.livelovely.com/2015/09/08/financial-tips-internet-service-provider/" target="_blank">Financial Tips: How to Choose the Best Internet Service Provider</a>
        </li>
        <li>
          <a href="http://blog.livelovely.com/2015/09/02/moving-to-san-francisco/" target="_blank">3 Things You Need to Know if You’re Moving to San Francisco</a>
        </li>
      </ul>
    </article>

    <article class="Writing__client">
      <div class="Writing__logo">
        <%= image_tag "logos/vode.png", :class => "Image--full Writing__logo--vode", :title => "Vode Lighting", :alt => "Vode Lighting" %>
      </div>
      <div class="Writing__description">
        <p>
          Vode is a Sonoma-based LED and linear lighting design company that needed smart, hip copy for their new blog. It was especially fun to inject humor into the posts, but also explain their innovative technology to the public and drive brand awareness.
        </p>
        <p>
          A lot of upfront research around lighting technology and architecture was poured into this project, and it is still one of the most illuminating (no pun intended) writing experiences I’ve ever had from a professional standpoint because it was both promotional and served as a resource to educate end users.
        </p>
      </div>
      <ul class="Writing__links">
        <li>
          <a href="http://blog.vode.com/bid/331168/Motor-City-embraces-LED-Lighting" target="_blank">Motor City embraces LED lighting</a>
        </li>
        <li>
          <a href="http://blog.vode.com/bid/390572/LEDs-becoming-the-darling-of-modern-architecture" target="_blank">LEDs become the darling of modern architecture</a>
        </li>
        <li>
          <a href="http://blog.vode.com/bid/328288/With-architectural-lighting-less-is-more" target="_blank">With architectural lighting, less is more</a>
        </li>
      </ul>
    </article>

  </div>
</section><!-- .Writing -->
