<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Middleman</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="/stylesheets/main.css" rel="stylesheet" />
    <script src="/javascripts/all.js"></script>
  </head>

  <body class="partials partials_home partials_home_about partials_home_about_index">
    <section id="About" class="About">
  <div class="About__photo">
    <img src="/images/rachel-lacroix.jpg" class="Image--full" alt="Rachel lacroix" />
  </div>
    <h1>Rachel LaCroix</h1>
    <h4>Content Director & Creator</h4>
    <ul class="About__social">
      <li><a href="mailto:hello@rachelhlacroix.com" target="_blank" title="Email" alt="Hello@RachelHLaCroix.com"><i data-icon=&#xe601;></i></a></li>
    </ul>

  <div class="About__content Text">
    <p>
     You can’t grow your business effectively without great storytelling and content. I’m passionate about taking copy, design, and video elements and using them to create better web experiences for customers. If you need help crafting content to tell your company’s story, take a look at some of the work I’m most proud of below, and <a href="mailto:hello@rachelhlacroix.com" target="_blank">let’s get the conversation started</a>.
    </p>
  </div>
</section><!-- .About -->

  </body>
</html>
