$page-gutter: 1em;

// Typography
$typography-breakpoint1: 600px;
$typography-breakpoint2: 800px;

// Layout widths
$max-width:       50rem; // 1200px / 20px
$max-width-media: 65rem; // 1200px / 16px
$layout-width-small:  30rem;
$layout-width-medium: 40rem;
$layout-width-large:  50rem;
$layout-width-large:  75rem;

// Borders
$border-radius: 2px;
