---
title: Rachel LaCroix – Content Writer
---

<!-- About -->
<%= partial "partials/home/about" %>


<!-- Work -->
<%= partial "partials/home/writing" %>

<!-- Footer -->
<div id="footer" class="Footer">
  <a href="http://rachel.lacroix.io" target="_blank">
    <div class="Footer__icon">
      <%= icon 'e900' %>
    </div>
    <div class="Footer__text">
      View R&eacute;sum&eacute;
    </div>
  </a>
</div>
